<div class="container article-list">
  <div class="row">
    <div class="col-12">
      <div class="text-heading">
        <h2>Latest update News</h2>
        <!-- <nav>
          <a href="" routerLink='NewsDetails' routerLinkActive='active' target="_blank">News details</a>
        </nav> -->
      </div>
    </div>
  </div>
 <a class="row article-main" *ngFor="let article of data?.articles"(click)="onGoNewsdetailPage(article)" target="_blank">
  <div class="col-12">
    <a class="article-box d-flex">
        <div class="img-box"> <img src="{{ article.urlToImage }}" class="img-fluid"></div>
        <div class="text-box">
           <h3>{{ article.title }}</h3>
           <p>{{article.content }}</p>
           <p class="author"><small>{{article.author}}</small></p>
         </div>
        </a>
   
  </div>
 
</a>
</div>

<router-outlet></router-outlet>
